Thumbs.db
*.obj
*.exe
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
[Oo]bj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
/TracMVC/TracMVC.Repository/Class1.cs
[Ff]iles
*.BASE.*
*.LOCAL.*
[Pp]ublish*/
*.REMOTE.*
Backup/
changes/
Notes/
*.JustCode
*_Backup_*/
*.jmconfig
/Database/*.bak
/AdminDeploy/*
/Web/Backup*/
*/_Upgrade*/*
.vs/*
*.licx
packages/*
Web/.vs/*
/.vs
Deploy/*